.intro__subtitle {
	max-width: 683px;
  margin-top: 45px;
	font-family: Inter;
	font-size: 24px;
	line-height: 37px;
}




@media screen and (max-width : 700px) {
  .intro__subtitle {
    margin-top: 0;
    margin-bottom: 24px;
  }
}

