@import url('./__logo-image/header__logo-image.css');
@import url('./__lang-link/header__lang-link.css');


.header {
    display: flex;
    max-width: 1184px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    min-height: 82px;
}

@media screen and (max-width: 1280px) {
	.header {
		width: calc(100% - 96px);
	}
}

@media screen and (max-width: 768px) {
	.header {
		width: calc(100% - 48px);
	}
}


@media screen and (max-width: 375px) {
	.header {
		width: calc(100% - 32px);
	}
}
