.video__item {
	position: relative;
	display: block;
  min-height: 323px;
	/* width: 583px; */
	width: calc(50% - 18px);
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	background-size: cover;
  background-position: center;

}


.video__item--location {
	background-image: url('../../../images/__item-bg.png');
}

.video__item--observatory {
	background-image: url('../../../images/__item-bg-video.png');
}


@media screen and (max-width: 1024px) {
	.video__item {
		min-height: 288px;
		width: calc(50% - 16px);
	}
}


@media screen and (max-width: 768px) {
	.video__item {
		min-height: 200px;
	}
}
