.lead__title {
	max-width: 782px;
  margin: 48px auto;
	font-family: Inter;
	font-size: 96px;
	line-height: 92px;
	text-align: center;
	color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
	.lead__title {
		max-width: 928px;
	}
}


@media screen and (max-width : 700px) {
  .lead__title {
		max-width: 343px;
    margin: 64px auto 8px;
    font-size: 40px;
    line-height: 44px;
  }
}
