@import url('../../blocks/additional/__heading/additional__heading.css');
@import url('../../blocks/additional/__item/additional__item.css');
@import url('../../blocks/additional/__overlay/additional__overlay.css');
@import url('../../blocks/additional/__row/additional__row.css');
@import url('../../blocks/additional/__text/additional__text.css');




.additional {
	max-width: 1184px;
	margin: 0 auto;
	margin-top: 102px;
}
