/* .additional__item {
	position: relative;
	height: 330px;
	background-size: cover;
	background-position: center;
	border-radius: 4px;
} */
.additional__item {
  width: calc((100% - 48px)/4);
  padding-bottom: calc((330/284)*((100% - 48px)/4));
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}





.additional__item--nvrssk {
background-image: url('../../../images/__item-bg-3.png');
}

.additional__item--shikhan {
	background-image: url('../../../images/__item-bg-2.png');
}

.additional__item--nikola {
	background-image: url('../../../images/__item-bg-4.png');
}

.additional__item--cherepovets {
	background-image: url('../../../images/__item-bg-1.png');
}



@media screen and (max-width: 1024px) {
	.additional__item {


	}
}
