@import url('./__image-item/place__image-item.css');
@import url('./__image/place__image.css');
@import url('./__row/place__row.css');
@import url('./__text/place__text.css');
@import url('./__title/place__title.css');
@import url('./__description/place__description.css');

.place {
	margin-bottom: 72px;
	color: #ffff;
}

.place:last-of-type {
	margin-bottom: 102px;
}


@media screen and (max-width: 700px) {
	.place {
		margin-bottom: 48px;
	}
}
