@import url('../../blocks/footer/__links-list/footer__links-list.css');
@import url('../../blocks/footer/__list-item/footer__list-item.css');
@import url('../../blocks/footer/__link/footer__link.css');
@import url('../../blocks/footer/__copyright/footer__copyright.css');


.footer {
	min-height: 70px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 160px auto 0;
}
